* {
    margin: 0;
    text-decoration: none;
}

body {
    background-color: rgb(49, 53, 58);
    color: rgb(223, 222, 222);
    font-family: Prompt, sans-serif;
}

header {
    background-color: rgb(223, 222, 222);
    display: flex;
    justify-content: space-around;
    gap: 350px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

a {
    text-decoration: none;
    color: rgb(49, 53, 58);
}

a:hover {
    color: rgb(34, 169, 152);
}

main {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.presentation {
    width: 420px;
}

.hello {
    font-size: 19px;
}

.name {
    font-family: 'Rozha One', serif;
    font-size: 55px;
    color: rgb(251, 115, 178);
    margin-bottom: 0;
}

.subtitle {
    font-size: 25px;
    color: rgb(34, 169, 152);
    font-weight: 300;
}

.description {
    margin-top: 15px;
    font-size: 18px;
}

button {
    background: rgb(34, 169, 152);
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    font-family: Prompt, sans-serif;
    font-size: 15px;
}

.about {
    margin: 150px 0;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: stretch
}

.history {
    width: 480px;
}

.photos {
    display: flex;
    flex-direction: column;
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border: 4px solid rgb(34, 169, 152);
}

.perfil {
    width: 300px;
}

.introduction-about {
    color: rgb(34, 169, 152);
    font-size: 19px;
}

.about-me {
    font-family: 'Rozha One', serif;
    font-size: 45px;
    color: rgb(251, 115, 178);
}

.text-about {
    margin-top: 25px;
    font-size: 19px;
}

span {
    font-weight: bold;
    color: white;
}